:root{
    --primary-color: #9a5e39;
}

.abril-font{
    font-family: 'Abril Fatface', cursive;
}

.roboto-font{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: white !important;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: 1s;
}

.navbar-brands{
    font-size: 3.5rem;
    line-height: 0.9;
    color: black;
}

.navbar-brands:hover{
    color: black;
    text-decoration: none;
}

.nav-items{
    margin-left: auto;
}

.social ul{
    list-style: none;
    text-decoration: underline !important;
}

.social ul li a{
    color: black;
}

.social ul li a i{
    margin-right: 0.2rem;
}

.social{
    margin-left: auto;
}

.nav-links{
    padding: 0 2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.social ul{
    white-space: nowrap;
}

.touch-today{
    background-image: url('../img/background-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    text-shadow: 1px 1px 1px black;
    padding: 30px 200px 30px 100px !important;
    line-height: 40px;
}

.mypad{
    padding: 0 4rem;
}

.center-title{
    background-image: url('../img/background-min.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    /* position: absolute;
    width: 100%;
    bottom: 0; */
    background-image: url('../img/background-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

footer p{
    color: white;
    text-shadow: 1px 1px 1px black;
}

#contact-footer{
    text-shadow: 1px 1px 1px black;
}

#contact-footer a{
    text-decoration: none;
    color: white;
}

.home-first-wrapper{
    display: grid;
    grid-template-columns: 15px repeat(3, 1fr) 40px repeat(3, 1fr) 15px;
    grid-template-rows: 50px repeat(10, 1fr) 50px;
}

.home-first-left{
    grid-column: 2/5;
    grid-row: 3/10;
}

.home-first-right{
    grid-column: 6/9;
    grid-row: 2/12;
}

.home-second-wrapper{
    display: grid;
    grid-template-columns: 15px repeat(3, 1fr) 40px repeat(3, 1fr) 15px;
    grid-template-rows: 20px repeat(36, 1fr) 20px;
}

.home-second-left-top{
    grid-column: 2/5;
    grid-row: 3/20;
}

.home-second-right-top{
    grid-column: 6/9;
    grid-row: 2/20;
}

.home-second-left-bottom{
    grid-column: 2/5;
    grid-row: 22/36;
}

.home-second-right-bottom{
    grid-column: 6/9;
    grid-row: 21/37;
}

img{
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

.navbar-toggler{
    border: none;
}

.bi-justify{
    font-size: 30px;
    color: var(--primary-color);
}

#contact{
    background-color: #7e4528;
    color: white;
    text-shadow: 1px 1px 1px black;
}

form input, textarea{
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    color: white;
    padding: 20px 0;
}

form button{
    align-self: end;
    padding: 5px 50px;
}

textarea:focus, input:focus{
    outline: none;
}

textarea{
   resize: none;
}

@media (min-width: 992px) {

    .contact-navbar .active-link{
        border-bottom: 1px solid #fff !important;
    }

    .active-link{
        border-bottom: 1px solid #000;
        padding-bottom: 4px;
    }
}

.contact-navbar{
    color: white;
    background-color: #7e4528;
}

.contact-navbar a{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.contact-navbar .social *a{
    color: white;
}

.services-label p{
    text-align: justify;
}

.about-first-wrapper{
    display: grid;
    grid-template-columns: 3rem 2fr 0.6fr 2fr;
    grid-template-rows: repeat(34, 30px);
}

.about-first-top-left{
    grid-column: 2/3;
    grid-row: 5/14;
}

.about-first-top-right{
    grid-column: 4/5;
    grid-row: 2/19;
}

.about-first-bottom-left{
    grid-column: 2/3;
    grid-row: 17/35;
}

.about-first-bottom-right{
    grid-column: 4/5;
    grid-row: 21/31;
}