html{
    height: 150vh;
}

.navbar{
    position: fixed;
    width: 100%;
    transition: 2s;
}

.navbar-brands{
    font-size: 3.5rem;
    line-height: 0.9;
    color: black;
}

.social ul{
    list-style: none;
    text-decoration: none;
}

.social ul li a{
    color: black;
}

.nav-links{
    padding: 0 2rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}